@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,400,700');

@font-face {
    font-family: "Hero Light";
    src: url(../fonts/Hero-Light.otf);
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: -moz-linear-gradient(top, rgba(25,7,40,1) 0%, rgba(46,13,74,1) 57%, rgba(57,16,91,0.5) 86%, rgba(62,17,99,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(25,7,40,1) 0%,rgba(46,13,74,1) 57%,rgba(57,16,91,0.5) 86%,rgba(62,17,99,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(25,7,40,1) 0%,rgba(46,13,74,1) 57%,rgba(57,16,91,0.5) 86%,rgba(62,17,99,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#190728', endColorstr='#003e1163',GradientType=0 ); /* IE6-9 */
    background-repeat: no-repeat;
}

h1 {
    font-family: "Yanone Kaffeesatz";
    font-size: 30px;
}

h2 {
    font-family: "Hero Light";
}

.container {
    max-width: 980px;
    margin: auto;
}

.app-page-container {
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: 70% 30px;
    background: #fff;
    padding: 20px;
}


#app-index {

}

header {
    background-color: #190728;
    padding-bottom: 15px;
    background: -moz-linear-gradient(top, rgba(25,7,40,1) 0%, rgba(25,7,40,1) 60%, rgba(25,7,40,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(25,7,40,1) 0%,rgba(25,7,40,1) 60%,rgba(25,7,40,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(25,7,40,1) 0%,rgba(25,7,40,1) 60%,rgba(25,7,40,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#190728', endColorstr='#00190728',GradientType=0 ); /* IE6-9 */
    position: relative;
}
.menu {
    color: #fff;
    font-family: "Hero Light";
    font-size: 22px;
    float: right;
    text-align: right;
    width: auto;
    text-transform: uppercase;
    letter-spacing: 1px;
    /* display: inline-block; */
    padding: 40px 20px 20px 0;
}

.user-bar {
    font-family: "Hero Light";
    color: #fff;
    font-size: 18px;
    text-align: right;
    height: 35px;
    position: relative;
    padding-right: 10%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.user-bar-bg {
    height: 25px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 10%; /*must match user-bar's padding-left */
    background: -moz-linear-gradient(45deg, rgba(136,87,214,0) 40%, rgba(149,84,207,0.7) 73%, rgba(159,82,201,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(136,87,214,0) 40%,rgba(149,84,207,0.7) 73%,rgba(159,82,201,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(136,87,214,0) 40%,rgba(149,84,207,0.7) 73%,rgba(159,82,201,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008857d6', endColorstr='#9f52c9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    z-index: -5;
}

.app-thread {
    padding: 12px;
    background-color: #ece6f4;
    margin: 8px 0;
    border-radius: 5px;
}

.app-top-row {
    display: grid;
    grid-template-columns: 40px auto 40% 70px;
    grid-column-gap: 5px;
    align-items: center;
}

#yes,
#no {
width: auto;
height: 20px;
}

.vote-meter {
    color: #000;
    height: 20px;
    width: 100%;
    background-color: #a4a4a4;
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}

.quorum {
    position: absolute;
    z-index: 5;
    left: 8px;
}

.yes-meter {
    background-color: #7be67b;
    height: 100%;
    width: 0%;
    display: inline-block;
    padding: 0;
    margin: 0;
    position: relative;
    top: 0;
    z-index: 4;
}

.no-meter {
    background-color: #f79cad;
    height: 100%;
    width: 0%;
    display: inline-block;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    z-index: 1;
}

.approval {
    display: inline;
    text-align: center;
}

#tags {
    display: inline-block;
}

#tags * {
    color: white;
    display: inline-block;
    padding: 2px 5px 4px;
    border-radius: 3px;
    margin-right: 3px;
}

.tag-cw {
    background-color: #ae1212;
}
.tag-genre {
    background-color: #8941b6;
}
.tag-format {
    background-color: #3f93ed;
}

.sticky {
    border: 4px #ae1212 solid;
}

.triaged {
    background-color: lightgrey;
}

.hide {
    display: none;
}